$margin: 0 2em;
$margin-res: 0 0.5em;

.grid,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
  display: grid;
  margin: $margin;
  padding: 0;
  align-items: center;
  justify-items: center;

  @include respond-to(handhelds) {
    margin: $margin-res;
  }
}

.grid-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-6 {
  grid-template-columns: repeat(6, auto);

  @include respond-to(handhelds) {
    grid-template-columns: repeat(3, auto);
  }
}

.collapse {
  @include respond-to(handhelds) {
    grid-template-columns: 1fr;
  }
}