@import 'appWhite';
@import 'inputs';

#project-type {
  #application {
    justify-self: flex-end;

    @include respond-to(handhelds) {
      justify-self: center;
    }
  }

  #graphic {
    justify-self: flex-start;

    @include respond-to(handhelds) {
      justify-self: center;
    }
  }
}

#review,
.info {
  margin: 1em auto;
  width: 60%;

  @include respond-to(handhelds) {
    width: 100%;
  }
}

#review {
  margin: 1em auto 0;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  box-shadow: $shadow;

  .table-item,
  .text,
  .total {
    margin: 0;
    padding: 1em;
  }

  .table-item {
    text-align: right;
    margin: 0 0.5em;
    text-transform: capitalize;
  }

  .section-title {
    text-align: right;
    align-self: center;
    margin: 0 0.5em 0 1em;
  }

  .table-item,
  .text {
    margin: 0 0 auto;
  }

  #color-collection {
    padding: 1em;
    justify-self: flex-start;

    .color {
      display: inline-block;
      margin: 4px;
      height: 32px;
      width: 32px;
    }
  }

  .total {
    font-size: 18px;
    text-align: left;
  }
}

.screen {
  label {
    width: 80%;

    @include respond-to(handhelds) {
      width: 100%;
    }
  }

  #color-input {
    grid-template-columns: 1fr auto;

    #add {
      align-self: flex-end;
      margin: 0;
    }
  }

  .grid-2 {
    width: 80%;
    grid-gap: 1em;

    label {
      width: 100%;
    }

    @include respond-to(handhelds) {
      grid-template-columns: 1fr;
      width: 100%;
    }
  }

  .grid {
    width: 100%;
  }

  textarea.input-textarea {
    margin: 1em 0 0;
    width: calc(80% - 1em);
    height: 200px;
    resize: none;

    @include respond-to(handhelds) {
      width: calc(100% - 1em);
    }
  }

  #colors-selected,
  #color-selection {
    margin: 1em 0;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0.5em;
    width: calc(80% - 2em);
    height: 200px;
    box-shadow: $shadow;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    @include respond-to(handhelds) {
      width: calc(100% - 2em);
      grid-template-columns: repeat(5, 1fr);
    }

    .color {
      margin: 0.25em;
      padding-bottom: 80%;
      cursor: pointer;
      border-radius: 4px;
      box-shadow: $shadow;
    }
  }

  #colors-selected {
    margin: 1em 0 0;
    grid-template-columns: repeat(5, 1fr);

    .color {
      padding-bottom: 0;
      height: calc(100% - 0.5em);
      ;
    }
  }
}

#add-ons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;

  @include respond-to(handhelds) {
    grid-template-columns: 1fr 1fr;
  }

  .add-on {
    padding: 2em;
    background-color: clr(light);
    border-radius: 4px;
    box-shadow: $shadow;
    border: 1px solid clr(light);
    cursor: pointer;
    overflow: hidden;

    .sale {
      width: fit-content;
      margin: -2em -2em 0.5em auto;
      background-color: clr(red);
      color: clr(light);
      padding: 6px;
      text-align: center;
    }

    .sale::before {
      content: '-25% SALE';
    }

    .add-on-title {
      margin-bottom: 0.5em;
    }

    .add-on-price {
      justify-self: center;
    }

    .orig-price {
      text-decoration: line-through;
      opacity: 0.6;
    }

    .orig-price::before,
    .add-on-price::before {
      content: '$';
    }
  }

  .sale::before {
    background-color: clr(red);
    color: clr(light);
    content: 'SALE';
  }

  .add-on:hover {
    background-color: $lighten;
  }

  .add-on.selected {
    border: 1px solid clr(green);
  }
}

#buttons {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  margin-top: 1em;
}

#upload,
#finish,
#next {
  justify-self: flex-start;
  margin: 0;
}

#back {
  justify-self: flex-end;
  margin-right: 1em;
  cursor: pointer;
}

#back:hover {
  color: clr(alt);
  text-decoration: underline;
}