@import 'app';
@import 'inputs';

.end {
    margin: 1em 0;
    width: 100%;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    color: clr(grey);
}

.offscreen {
    position: fixed;
    top: -999px;
    left: -999px;
}

#search-container {
    display: grid;
    background-color: clr(light);
    box-shadow: $shadow;
    overflow: hidden;
    padding: 1em 1em 0;
    width: 60%;

    @include respond-to(handhelds) {
        width: calc(100% - 2em);
    }

    form {
        width: 100%;
        display: grid;
        margin: 0;
        align-content: flex-end;

        label {
            padding-bottom: 1em;
            width: 100%;

            .word-label {
                color: clr(grey);
            }

            #search {
                -webkit-appearance: none;
                border: 1px solid clr(grey);
                width: 100%;
            }
        }
    }

    #loading-search {
        width: 100%;
        text-align: center;
        padding: 1em;
        color: clr(grey);
    }

    #results {
        display: grid;
        max-height: 400px;
        overflow: hidden;
        overflow-y: scroll;
        padding: 0 4px;
        -webkit-overflow-scrolling: touch;
        width: calc(100% - 8px);
        grid-gap: 1em;
        border-top: 1px solid clr(grey);
        color: clr(grey);

        .result {
            width: calc(100% - 2em);
            padding: 1em;
            color: clr(grey);
            box-shadow: $shadow;
            cursor: pointer;
            border-radius: 4px;
            background-color: clr(light);
        }

        .result:hover {
            background-color: $lighten;
        }

        .result:first-of-type {
            margin-top: 0.25em;
        }
    }

    #results:before {
        content: 'Results';
        text-align: left;
        font-weight: bold;
        text-decoration: underline;
    }
}


#user-buttons {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 1em;
    min-width: 0;
    width: 60%;
    color: clr(grey);
    margin: 1em 0;
    background-color: clr(light);
    box-shadow: $shadow;

    @include respond-to(handhelds) {
        width: calc(100vw - 4em);
    }

    a,
    a.link {
        flex: 0 0 auto;
        margin-right: 10px;
        cursor: pointer;
    }

    a:last-of-type,
    a.link:last-of-type {
        padding: 0 1em 0 0;
    }

    a:hover,
    a.link:hover {
        color: clr(alt);
        text-decoration: underline;
    }

    #back {
        width: fit-content;
        color: clr(grey);
        margin-right: 0;
    }

    #back:hover {
        color: clr(alt);
    }

    #back:after {
        content: '|';
        color: clr(primary) !important;
        padding: 0 1em;
    }
}


#user {
    display: grid;
    grid-gap: 1em;
    background-color: clr(light);
    box-shadow: $shadow;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 1em;
    width: 60%;
    max-height: 400px;
    color: clr(grey);

    @include respond-to(handhelds) {
        width: calc(100% - 2em);
    }

    form {
        margin: 0;
        width: 100%;

        textarea.input-textarea {
            margin: 1em 0 0;
            width: calc(80% - 1em);
            height: 200px;
            resize: none;

            @include respond-to(handhelds) {
                width: calc(100% - 1em);
            }
        }
    }

    a.btn,
    .btn,
    button {
        margin: 0;
    }

    #preview {
        width: calc(80%);
        justify-self: center;
        -webkit-appearance: none;
        box-shadow: $shadow;
        border-radius: 4px;
        border: none;
        height: 200px;
        overflow: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        background-color: clr(light);

        @include respond-to(handhelds) {
            width: calc(100%);
        }
    }

    .grid {
        width: 100%;

        #general,
        #business {
            width: 100%;
        }
    }

    .payment-container {
        display: grid;
        grid-template-columns: 1fr auto 120px 32px;
        grid-gap: 0.25em;
        box-shadow: $shadow;
        padding: 1em;
        margin: 0;
        text-align: left;

        @include respond-to(handhelds) {
            grid-template-columns: 1fr auto 32px;
        }

        .payment-title {
            font-size: 20px;
            font-weight: bold;
        }

        .payment-amount:before {
            content: 'Amount: '
        }

        .payment-date {
            font-size: 8px;

            @include respond-to(handhelds) {
                display: none;
            }
        }

        .payment-date:before {
            content: 'Created on: '
        }

        .file-delete,
        .file-download {
            cursor: pointer;
        }

        .file-delete:hover {
            color: clr(red);
        }

        .file-download:hover {
            color: clr(alt);
        }
    }

    .project-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: fit-content;
        box-shadow: $shadow;
        padding: 1em;
        margin: 0;
        border: 1px solid clr(red);
        border-radius: 4px;
        cursor: pointer;
        text-align: left;


        .project-title {
            font-size: 20px;
            font-weight: bold;
        }

        .project-type:before {
            content: 'Type: '
        }

        .project-type {
            justify-self: flex-end;
            text-transform: capitalize;
        }

        .project-completion {
            font-size: 11px;
        }

        .project-completion:before {
            content: 'Delivery estimate: ';
            font-weight: bold;
        }
    }

    .project-container:hover {
        background: $lighten;
    }

    .active {
        border: 1px solid clr(green);
    }

    #invoice-type {
        margin: 0;
        grid-gap: 1em;
        width: 100%;

        @include respond-to(handhelds) {
            grid-template-columns: 1fr;
        }

        form {
            margin: 0;
            width: 100%;

            label {
                justify-self: start;
                margin-left: 10%;

                @include respond-to(handhelds) {
                    margin-left: 0;
                }
            }

            textarea.input-textarea {
                margin: 1em 0 0;
                width: calc(80% - 1em);
                height: 200px;
                resize: none;

                @include respond-to(handhelds) {
                    width: calc(100% - 1em);
                }
            }

            button {
                margin: 0;
                align-self: flex-end;
            }
        }
    }

    #review {
        width: 60%;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: flex-start;

        @include respond-to(handhelds) {
            width: 100%;
        }

        .table-item,
        .text,
        .total {
            margin: 0;
            padding: 1em;
        }

        .table-item {
            text-align: right;
            margin: 0 0.5em;
            text-transform: capitalize;
        }

        .section-title {
            text-align: right;
            align-self: center;
            margin: 0 0.5em 0 1em;
        }

        .table-item,
        .text {
            margin: 0 0 auto;
        }

        #color-collection {
            padding: 1em;
            justify-self: flex-start;

            .color {
                display: inline-block;
                margin: 4px;
                height: 32px;
                width: 32px;
                border-radius: 4px;
                box-shadow: $shadow;
                cursor: pointer;
            }
        }

        .total {
            font-size: 18px;
            text-align: left;
        }
    }

    .file {
        display: grid;
        grid-template-columns: 1fr 40px 40px;
        padding: 1em;
        box-shadow: $shadow;

        .file-name {
            align-self: center;
        }

        .file-date[data-time] {
            overflow: visible;
            height: fit-content;
            justify-self: center;
            cursor: help;
        }

        .file-date[data-time]:hover::after {
            position: fixed;
            content: attr(data-time);
            box-shadow: $shadow;
            background-color: clr(light);
            top: 74px;
            right: 2em;
            padding: 1em;
            width: 80px;
            color: clr(grey);
            font-size: 12px;
            z-index: 100;
        }

        .file-date:hover {
            color: clr(alt);
        }

        .grid {
            margin: 0;
            grid-gap: 1em;

            .file-delete,
            .file-download {
                cursor: pointer;
            }

            .file-delete:hover {
                color: clr(red);
            }

            .file-download:hover {
                color: clr(alt);
            }
        }
    }
}