@import 'appWhite';

.offscreen {
    position: fixed;
    top: -999px;
    left: -999px;
}

.end {
    margin: 1em 0;
    width: 100%;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
}

label {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 60%;
    box-shadow: $shadow;
    border-radius: 4px;
    cursor: pointer;

    @include respond-to(handhelds) {
        width: 100%;
    }

    .file-upload {
        width: fit-content;
        padding: 1em;
    }
}


label:hover {
    background-color: clr(alt);

    .file-upload {
        color: clr(light);
        text-decoration: underline;
    }
}

#loading-files {
    padding: 1em;
}

#files-container {
    display: grid;
    grid-gap: 1em;
    margin: 0 0 1em;
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 4px 4px 1em;
    -webkit-overflow-scrolling: touch;
    width: 60%;

    @include respond-to(handhelds) {
        width: 100%;
    }

    .file {
        display: grid;
        grid-template-columns: 1fr 40px 40px;
        padding: 1em;
        box-shadow: $shadow;

        .file-name {
            align-self: center;
        }

        .file-date[data-time] {
            overflow: visible;
            height: fit-content;
            justify-self: center;
            cursor: help;
        }

        .file-date[data-time]:hover::after {
            position: fixed;
            content: attr(data-time);
            box-shadow: $shadow;
            background-color: clr(light);
            top: 74px;
            right: 2em;
            padding: 1em;
            width: 80px;
            color: clr(grey);
            font-size: 12px;
            z-index: 100;
        }

        .file-date:hover {
            color: clr(alt);
        }

        .grid {
            margin: 0;
            grid-gap: 1em;

            .file-delete,
            .file-download {
                cursor: pointer;
            }

            .file-delete:hover {
                color: clr(red);
            }

            .file-download:hover {
                color: clr(alt);
            }
        }
    }
}