@import 'app';
@import 'inputs';

.grid.background {
  grid-template-columns: minmax(60%, 900px);
  justify-content: center;
  grid-template-rows: auto;
  background: url("../$assets/img/background.svg");
  background-position: center left;
  background-size: cover;
  margin: 0 -1em !important;

  @include respond-to(handhelds) {
    grid-template-columns: 1fr;
    background-position: right;
  }

  .title {
    cursor: default;
    color: clr(light);
    align-self: baseline;
    justify-self: center;
    margin: 60px 0 50px;

    @include respond-to(handhelds) {
      margin: 2em 0;
    }
  }

  .grid-2 {
    margin: 0 1em;
    justify-self: flex-end;
    align-self: flex-start;

    @include respond-to(handhelds) {
      margin: 0;
      justify-self: center;
    }
  }

  .text {
    margin: 12px 1em 70px;
    justify-self: flex-end;
    align-self: flex-start;

    @include respond-to(handhelds) {
      justify-self: center;
      margin: 12px 0 0;
    }

    a.link {
      margin-left: 2px;
      text-decoration: none;
      color: clr(alt);
      text-decoration-color: clr(primary);
    }

    a.link:hover {
      text-decoration: underline;
    }
  }

  #hero-end {
    cursor: default;
    margin: 100px 1em 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: flex-start;
    justify-items: center;

    @include respond-to(handhelds) {
      display: flex;
      flex-direction: column;
      margin: 100px 1em 2em;
    }

    .grid {
      margin: 0;
      width: 100%;
      background: none;

      .text {
        height: fit-content;
        text-align: justify;
        hyphens: auto;
        justify-self: flex-start;
        padding: 2em 0 0;
        color: clr(grey);
        margin: 0;
      }
    }

    #phone {
      height: 100%;
      width: 100%;
      background: url("../$assets/img/phone-promo-1.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      @include respond-to(handhelds) {
        height: 200px;
        margin-bottom: 1em;
        order: -1;
      }
    }
  }
}

.section {
  cursor: default;
  margin: -2px -1em 0;
  background: clr(light);

  .grid {
    padding-bottom: 1em;
    justify-items: center;

    .feature-box {
      display: grid;
      box-shadow: $shadow;
      padding: 1em;
      margin: 0 1em;

      i {
        margin-right: 2px;
        color: clr(primary);
      }

      .text {
        margin: 1em;
        padding-left: 2px;
        color: clr(grey);
        justify-self: flex-start;
        text-align: left;
        line-height: 22px;
        border-left: 2px solid clr(alt);

        .alt {
          display: inline-block;
          color: clr(alt);
          margin-right: 2px;
        }
      }
    }

    i {
      margin-right: 2px;
      color: clr(primary);
    }

    .text {
      width: 70%;
      margin: 1em auto;
      color: clr(grey);
      line-height: 22px;
      hyphens: auto;
      text-align: justify;

      @include respond-to(handhelds) {
        width: calc(100% - 2em);
        margin: 1em;
      }
    }

    .title {
      padding: 0;
      margin: 1em 0 0.25em;
      color: clr(alt);
    }

    .grid-3 {
      margin: 1em auto 0;
      grid-column-gap: 2em;

      .whale {
        height: 40px;
        width: 40px;
        background: url("../$assets/img/whale.svg");
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
      }
    }
  }
}