@import 'appWhite';
@import 'inputs';


.title:first-of-type {
  margin: 0 0 1em;
  justify-self: center;
  font-size: 40px;
}

.grid {
  margin: 0;

  .text {
    width: 100%;
    text-align: justify;
  }

  .bold {
    font-weight: bold;
  }

  a.link {
    cursor: pointer;
    text-decoration: none;
    color: clr(alt);
    text-decoration-color: clr(primary);
  }

  a.link:hover {
    text-decoration: underline;
  }

  .inline {
    padding: 0 2px;
  }
}